*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  height: 100vh;
}

.app-wrapper{
  /* border: 3px solid black; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}
.header{
  /* border: 3px solid purple; */
  padding: 60px;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  background-color: rgba(3, 3, 3, 0.925);
}
.container-wrapper{
  border: 3px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 5px;

}

.grocery-list-wrapper{
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 20px;
}
.ShoppingCart-wrapper{
  border: 3px solid purple;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 10px;
}
.cart-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.grocery-list-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Shopping Cart */

.cart-item-wrapper:nth-child(odd){
  background-color: rgb(14, 84, 124);
  color: whitesmoke;
}
.cart-item-wrapper:nth-child(even){
  background-color: rgb(68, 197, 230);
}
.cart-item{
  /* border: 3px solid rgb(214, 120, 233); */
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


/* Grocery List */
.grocery-wrapper{
  /* border: 3px solid black; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 50%;
}
/* ------------ Search input field and Add button---------------*/
.search-field-wrapper{

  display: flex;
  justify-content: center;
  gap: 10px;
  
}
.search-field-wrapper > input{
  padding: 10px 20px;
}
.search-field-wrapper > input:focus{
  outline: none;
}

.add-grocery-item-btn{
  padding: 10px;
  background-color: rgba(255, 99, 71, 0.548);
}
/* ---------------------------------- */

.grocery-item-wrapper{
  /* border: 3px solid rgb(10, 70, 88); */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list-item{
  /* border: 3px solid blueviolet; */
  text-decoration: none;
  list-style: none;
  padding: 10px 20px;
}
.list-item:nth-child(odd){
  background-color: rgb(224, 61, 20);
  color: whitesmoke;
}
.list-item:nth-child(even){
  background-color: rgb(202, 112, 90);
}


.grocery-item{
  /* border: 3px solid rgb(101, 114, 224); */
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shoppin-list-title, 
.shoppin-cart-title {
  text-align: center;
}







.empty-cart-btn{
  border: none;
  padding: 10px 20px;
  background-color: rgb(10, 35, 63);
  color: whitesmoke;
  box-shadow: 1px 2px 8px 2px rgba(10, 58, 114, 0.466);
}
.empty-cart-btn:hover{
  background-color: rgb(10, 35, 63);
  
  color: whitesmoke;
}
.empty-cart-btn:active{
  box-shadow: 0px 0px 0px rgba(10, 35, 63, 0.356);
  outline: none;
}
.empty-cart-btn:focus{
  outline: none;
}